[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flask = "*"
"flask-appconfig" = ">=0.10"
"flask-bootstrap" = "*"
"flask-nav" = "*"
"flask-debug" = "*"
"flask-wtf" = "*"
gunicorn = "*"
requests = "*"


[requires]
python_version = "3.6"