{% extends "base.html" %}

{% block title %}Contact{{ super() }}{% endblock %}
{% block custom_css %}
    .hero{
        background-image: url(/static/img/contact_hero.jpg);
        background-position: 0% 90%;
    }
{% endblock %}
{% block content %}
    <section class="tint hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact Me</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="shows" class="flex" style="height: calc(100vh - 357px);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="h1"><a class="white" href="mailto:booking@mattkitchenmusic.com">booking@mattkitchenmusic.com</a></h2>
                    <h2 class="h2"><a class="white" href="tel:12106461858">(210) 646-1858</a></h2>
                    <div class="top-icons">
                        <ul class="social">
                            <li><a href="http://www.facebook.com/mkitchenmusic" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                            <li><a href="http://www.twitter.com/mkitchenmusic" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href="http://www.instagram.com/mkitchenmusic" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCWaJYXC_wgd4dRiDyu5VLIw" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                        </ul>
                        <ul class="buy">
                            <li><a class="itunes" href="https://geo.itunes.apple.com/us/album/the-acoustic-release/id1034226722?mt=1&app=music" target="_blank">iTunes</a></li>
                            <li>
                                <a class="amazon" href="http://www.amazon.com/Acoustic-Release-Matt-Kitchen/dp/B014JO8QT4/ref=sr_1_1?s=dmusic&ie=UTF8&qid=1443387585&sr=1-1-mp3-albums-bar-strip-0&keywords=matt+kitchen" target="_blank">
                                    Amazon
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
{% endblock %}
