{% extends "base.html" %}

{% block title %}Home{{ super() }}{% endblock %}
{% block css_links %}
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <!-- Revolution Slider -->
	<link rel="stylesheet" type="text/css" href="/static/revolution/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/static/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fancybox.min.css">
    <script type="text/javascript" src="/static/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/static/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/instafeed.min.js"></script>
    <script type="text/javascript" src="/static/js/fancybox.min.js"></script>
{% endblock %}
{% block custom_css %}
    .hero {
        background-image: url(/static/img/matt_hero.jpg);
        background-position: 100% 0;
    }
    @media (min-width: 768px) {
        .hero {
            padding-top: 160px;
            padding-bottom: 120px;
        }
    }
{% endblock %}
{% block content %}
    <section class="hero tint">
        <article class="content">
        <div id="instafeed" class="owl-carousel owl-theme"></div>
        <script type="text/javascript">
            var feed = new Instafeed({
                get: 'user',
                userId: '42111147',
                clientId: 'b235bf602d48410d911c0faa8819fd2f',
                accessToken: '42111147.b235bf6.59b9c5234db24e0fab4691157c2ad4fc',
                resolution: 'standard_resolution',
                template: {% raw %}'<div><a data-fancybox="images" data-caption="{{caption}}" href="{{image}}" style="background-image: url({{image}})"></a></div>'{% endraw %}
            });
            feed.run();
            $(document).ready(function () {
                setTimeout(function() {
                    $(".owl-carousel").owlCarousel({
                        dots: false,
                        loop: true,
                        margin: 10,
                        nav: true,
                        center: true,
                        autoHeight:false,
                        autoWidth: true,
                        lazyLoad: true,
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 3
                            },
                            1000: {
                                items: 6
                            }
                        }
                    });
                }, 1000);
            });
        </script>


        </article>
    </section>
{% endblock %}

{% block scripts %}

{% endblock %}
