{% extends "base.html" %}

{% block title %}Shows{{ super() }}{% endblock %}
{% block custom_css %}
    .hero{
        background-image: url(/static/img/shows_hero.jpg);
        background-position: 50% 24%;
    }
{% endblock %}

{% block content %}
    <section class="tint hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Shows</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="shows">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="http://www.songkick.com/artists/9243349" class="songkick-widget" data-theme="dark" data-font-color="#d2d2d2" data-background-color="transparent"></a>
<script src="//widget.songkick.com/widget.js"></script>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
{% endblock %}
